// Network Dashboard specific styles
.network-dashboard {
  .warning-banner {
    background-color: #fff4b4;
    border: 1px solid #946c00;

    .flashbar-content {
      color: #946c00;
    }
  }

  .chart-container {
    background: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  .devices-table {
    .table-header {
      padding: 12px;
      background-color: #fff;
    }

    .table-cell {
      padding: 9px 20px;
      border-bottom: 1px solid #e9ebed;

      .cell-content {
        color: #000716;
        font-family:
          'Open Sans',
          -apple-system,
          Roboto,
          Helvetica,
          sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }

  .main-header {
    .title {
      color: #000716;
      font-family:
        'Open Sans',
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.64px;
    }

    .description {
      color: #8d99a8;
      font-family:
        'Open Sans',
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }

  .section-header {
    .section-title {
      color: #000716;
      font-family:
        'Open Sans',
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: -0.64px;
    }

    .section-description {
      color: #8d99a8;
      font-family:
        'Open Sans',
        -apple-system,
        Roboto,
        Helvetica,
        sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}
